@page
@model HappyPaws.Pages.Doctors.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Create New</h2>
<br />
<form method="post">
    <div class="border background-white">
        <input type="hidden" asp-for="Doctor.ID" />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Doctor.Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="Doctor.Name" class="form-control" />
            </div>
            <span asp-validation-for="Doctor.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Doctor.Description"></label>
            </div>
            <div class="col-5">
                <input asp-for="Doctor.Description" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class=" col-2">
                <label asp-for="Doctor.Picture"></label>
            </div>
            <div class=" col-5">
                <input asp-for="Doctor.Picture" class="form-control" />
            </div>
           
        </div>

        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_EditAndBackToListButton" />
            </div>
        </div>

    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
