@page
@model HappyPaws.Areas.Identity.Pages.Account.VerifyEmailModel


<h1>Confirm Email Address</h1>

<div>
    <p>
        Confirm your email before proceding!
        <br/>

        If you haven't received any email, please check your Spam Folder!
        <br/>
    </p>
</div>