@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" id="background">
    <p id="appointments">For appointments, please call 314 - 746 - 7788</p>
    <img src="/images/cat.jpg" alt="home page image">
    <div id="contact-info">
        <span>Happy Paws Veterinary Clinic</span> <br>
        <span> You can find us at: </span> <br>
        <span>Baladei 28, Cluj-Napoca</span>
    </div>
</div>
